pip install --quiet aiobotocore==2.0.1
pip install --quiet aiohttp==3.8.1
pip install --quiet aioitertools==0.8.0
pip install --quiet async-timeout==4.0.2
pip install --quiet aiosignal==1.2.0
pip install --quiet asynctest==0.13.0
pip install --quiet attrs==21.2.0
pip install --quiet backcall==0.2.0
pip install --quiet Backtesting==0.3.3
pip install --quiet backtrader==1.9.76.123
pip install --quiet bokeh==2.3.3
pip install --quiet charset-normalizer==2.0.9
pip install --quiet cycler==0.11.0
pip install --quiet deap==1.3.1
pip install --quiet decorator==5.1.0
pip install --quiet dill==0.3.4
pip install --quiet entrypoints==0.3
pip install --quiet frozenlist==1.2.0
pip install --quiet fsspec==2021.11.1
pip install --quiet google-pasta==0.2.0
pip install --quiet idna==3.3
pip install --quiet idna-ssl==1.1.0
pip install --quiet importlib-metadata==4.8.3
pip install --quiet ipykernel==5.5.6
pip install --quiet ipython==7.16.2
pip install --quiet ipython-genutils==0.2.0
pip install --quiet jedi==0.17.2
pip install --quiet Jinja2==3.0.3
pip install --quiet jmespath==0.10.0
pip install --quiet jupyter-client==7.1.0
pip install --quiet jupyter-core==4.9.1
pip install --quiet kiwisolver==1.3.1
pip install --quiet MarkupSafe==2.0.1
pip install --quiet matplotlib==3.3.4
pip install --quiet multidict==5.2.0
pip install --quiet multiprocess==0.70.12.2
pip install --quiet nest-asyncio==1.5.4
pip install --quiet packaging==21.3
pip install --quiet pandas==1.1.5
pip install --quiet parso==0.7.1
pip install --quiet pathos==0.2.8
pip install --quiet pexpect==4.8.0
pip install --quiet pickleshare==0.7.5
pip install --quiet Pillow==8.4.0
pip install --quiet pox==0.3.0
pip install --quiet ppft==1.6.6.4
pip install --quiet prompt-toolkit==3.0.24
pip install --quiet protobuf==3.19.1
pip install --quiet protobuf3-to-dict==0.1.5
pip install --quiet ptyprocess==0.7.0
pip install --quiet Pygments==2.10.0
pip install --quiet pyparsing==3.0.6
pip install --quiet python-dateutil==2.8.2
pip install --quiet pytz==2021.3
pip install --quiet PyYAML==6.0
pip install --quiet pyzmq==22.3.0
pip install --quiet s3fs==2021.11.1
pip install --quiet s3transfer==0.5.0
pip install --quiet sagemaker==2.72.1
pip install --quiet scipy==1.5.4
pip install --quiet seaborn==0.11.2
pip install --quiet six==1.16.0
pip install --quiet smdebug-rulesconfig==1.0.1
pip install --quiet tornado==6.1
pip install --quiet tqdm==4.62.3
pip install --quiet traitlets==4.3.3
pip install --quiet typing_extensions==4.0.1
pip install --quiet urllib3==1.26.7
pip install --quiet wcwidth==0.2.5
pip install --quiet wrapt==1.13.3
pip install --quiet yarl==1.7.2
pip install --quiet zipp==3.6.0